<h1>Update {{chemical.name}}:</h1>
<div class = "container">
    <div class = "row">
        <div class = "col-4 mx-auto mt-1" id = "formContainer">
            <form id = "updateChemical" action="/chemical/{{chemical.chemical_id}}" method="post">
                <h1>Update Chemical</h1>
                <p>Please enter the information below to update a chemical and which container you filled it in. </p>
                Chemical Name: </br>
                <input type = "text" name = "chemicalName" id = "chemicalName" value="{{chemical.name}}"> </br></br>
                Chemical Formula: </br>
                <input type = "text" name = "chemicalFormula" id = "chemicalFormula" value="{{chemical.chemical_formula}}"> </br></br>
                Molecular Weight: </br>
                <input type = "number" step="0.01" min ="0" name = "molecularWeight" id = "molecularWeight" value="{{chemical.molecular_weight}}"> </br></br>
                <button>Update</button>
                </br></br>
                <button><a href="../chemical">Back</a></button>
            </form></br>
        </div>
    </div>
</div>
